
  .container-post {
    /* width: calc(49% - 2rem);  */
    
  }



article {
  /* width: calc(52% - 2rem); */
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* width: clamp(20rem, calc(20rem + 2vw), 22rem); */
  flex-direction: row;
  overflow: hidden;
  /* box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1); */
  /* border-bottom: .1rem solid   rgba(0, 0, 0, 0.1); */
  border-radius: 0em;
  background-color: #fff;
  /* background-color: white; */
  /* background: #ECE9E6; */
  /* background: linear-gradient(to right, #FFFFFF, #ECE9E6); */
  margin-left: 0 !important;
  /* border: 1px solid #3d405b; */
  /* box-shadow: inset 0 0 1px rgba(24, 24, 24, 0.7); */
  /* box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%); */
}

.card {
margin: auto;
padding: 1.4rem;
}

.card a {
  width: 100%;
}
.card:hover {
/* transform: scale(1.04);  */
/* background-color: #80b39b30; */
/* background-color: #2F00ED; */
/* background-color:linear-gradient(to bottom, #2F00ED, #5600F2); */
opacity: 0.8; 
transition: all 0.1s ease-in-out;
/* background: #f1a2144f; */
/* box-shadow: 0px 0px 20px 0px #f1a2144f; */
background: #ece9e6;
box-shadow: 0px 0px 10px 0px #9ca3af;
/* border: 1px solid #b8d0b7; */
}

.card_header {
width: 100%;
/* background-size: cover; */
display: flex;
width: 100%;
flex-wrap: nowrap;
justify-content: space-between;

}

.card_header img {
background-size: cover;
margin: auto;
width: 100%;

}

.card_body {
  
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card_body h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  /* color: #444; */
  /* color: #81b29a; */
  color: #386641;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.container-article{
  display: block;
  align-items: center;
  padding: 20px;
  width: 100%;   
}


.title_article {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.card_footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
  justify-content: flex-end;
}

.user {
  display: flex;
  gap: .5rem;
}

.user_image {
  /* border-radius: 50%; */
  clip-path: circle();
  max-width: 80px;
}

.user_info > small {
  color: #666;
}