.header {
    /* border: 1px solid #f0f0f0; */
    border-radius: 0px;
    padding: 4px;
    /* background-color: rgba(32,39,44,0.9); */
    background-color: #2b2b2b;
}

.headerinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.nav {
   display: flex;
   align-items: center; 
   justify-content: space-between;
}

.nav a {
    padding: 10px 6px;
    color: white;
}

.logo {
    width: 70px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 32px;
    
}

.navigation a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}