.card_tags{
  padding-bottom: 7px;
}

.tag {
    align-self: flex-start;
    padding: .3em 1.4em;
    border-radius: 1em;
    font-size: .75rem;
    
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .tag-hola {
    /* border: 1px solid #b184c6;
    color: black; */
    background-color: #b184c6;
    /* background: linear-gradient(to bottom, #5eed2f, #66f256); */
    color: #fafafa;
    
  }

  .tag-css {
    /* border: 1px solid #56CCF2;
    color: black; */
    background: #56CCF2;
    /* background: linear-gradient(to bottom, #2F80ED, #56CCF2); */
    color: #fafafa;
  }

  .tag-javascript {
    /* border: 1px solid #5600F2;
    color: black; */
    
    background: #5600f29e; 
    /* background: linear-gradient(to bottom, #2F00ED, #5600F2); */
     color: #fafafa;
  }

  .tag-negocio {
    /* color: black;
    border: 1px solid #569696; */

    background: #569696;
    background: linear-gradient(to bottom, #2F9696, #569696);
    color: #fafafa;
  }

  .tag-ia {
    /* border: 1px solid #ffef40;
    color: black; */
    
    background: #fb7474; 
     /* background: linear-gradient(to bottom, #ffef40, #569696); */
    color: #fafafa;
  }